ul
{
 list-style-type:circle; /*circulo sin relleno*//*square;*/
}

ol
{
 list-style-type:/*lower-latin;upper-latin;*/decimal-leading-zero;
}


.menu
{
 list-style:none; 
 margin:0;
 padding:0;
}

.menu li
{
 display:inline-block; 
}

.menu li a
{
 padding:10px 20px;
 display:inline-block;
 color:#fff;
}


.menu li a:hover
{
 background:#ccc;
 color:#fff;
}