body
{
 background:#e6e6e6;
}

/* DISEÑO DE LA CABECERA*/
header, .main
{
 width:100%; /*porcentajess para diseño responsivo*/
 margin:20px, auto;
}

/*Color de fondo del menu*/
header nav
{
 background:#528FD5;
}

header nav ul li a
{
 text-decoration:none; /*quita subrayado*/
}


/* DISEÑO DEL CUERPO DE LA PAGINA*/
.main .articles
{
 width:70%; /*del total de area del dispositivo*/
 /*margin-right:1%; separación entre bloques*/	
 float:left; /*envia contenido a la izquierda*/
}

aside
{
 width:30%;
 background:#ff8000;
 float:left;
 padding:20px;
 box-sizing:border-box;/* acomoda el tercer bloque a la derecha*/
}

/*Espacio entre bloques de texto*/
.main .articles article
{
 width:90%;
 padding:20px;
 background:#fff;
 margin-bottom:20px;
}



/*DISEÑO DEL PIE DE PAGINA*/
footer
{
 background:#000;
 color:#fff;
 clear:both; /*limpia los float*/
 /*padding:10px 0px;*/
 text-align:center;
}

